{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}Terms{% endblock %}

{% block cl-bg %}my-back-contact{% endblock %}

{% block top %}
    <style>
        h2 {
            font-size: 50px;
        }

        p {
            font-size: 18px;
            line-height: 1.4;
        }

        li {
            font-size: 17px;
            line-height: 1.3;
        }

    </style>
{% endblock %}

{% block content %}
    <section class="container mt-5">
        <h2 class="pt-5 mb-4">Terms and Conditions</h2>
        <p>Prospective Purchaser hereby accepts the Terms and Conditions of Vera Realty by submitting the Contact
            /Appointment form presented on the current website.</p>
        <p class="mb-4">Prospective Purchaser warrants that Prospective Purchaser has not consulted or dealt with any
            other
            broker,
            salesperson, agent or finder other than Vera Realty LLC nor has the Prospective Purchaser's expression
            of
            interest herein been procured by any real estate broker, salesperson, agent or finder other than Vera
            Realty
            LLC.</p>
        <p class="mb-3">Prospective Purchaser enters into an Exclusive Buyer Brokerage Agreement where the:</p>
        <ol class="container px-5">
            <li class="mb-3">PARTIES: (&quot;Buyer&quot;) <strong>Current Prospective purchaser, who signed up to
                receive more
                information</strong> grants (&quot;Broker&quot;) Nick Polyushkin Vera Realty LLC Real Estate Broker /
                Office the
                exclusive right to work with and assist Buyer in locating and negotiating the acquisition of suitable
                real
                property as described below. The term &quot;acquire&quot; or &quot;acquisition&quot; includes any
                purchase,
                option,
                exchange, lease or other acquisition of an ownership or equity interest in real property.
            </li>
            <li class="mb-3">TERM: This Agreement will begin on the day of filling out the contact form by Prospective
                purchaser which will be time logged by our system and will terminate at 11:59 p.m.on the same day
                on the next year (after 365 days) (&quot;Termination Date&quot;). However, if Buyer enters into an
                agreement
                to
                acquire property that is pending on the Termination Date, this Agreement will continue in effect until
                that transaction has closed or otherwise terminated.
            </li>
            <li class="mb-3">PROPERTY: Buyer is interested in acquiring real property as follows or as otherwise
                acceptable to
                Buyer (&quot;Property&quot;): (a) Type of property: (b) Location: (c) Price range: $ 100 to $
                100,000,000
                Buyer
                has been ᴑ pre-qualified ᴑ pre-approved by for (amount and terms, if any) (d) Preferred terms and
                conditions.
            </li>
            <li class="mb-3">BROKER’S OBLIGATIONS: (a) Broker Assistance. Broker will * use Broker’s professional
                knowledge
                and skills; * assist Buyer in determining Buyer’s financial capability and financing options; * discuss
                property requirements and assist Buyer in locating and viewing suitable properties; * assist Buyer to
                contract for property, monitor deadlines and close any resulting transaction; * cooperate with real
                estate licensees working with the seller, if any, to affect a transaction. Buyer understands that even
                if Broker is compensated by a seller or a real estate licensee who is working with a seller, such
                compensation does not compromise Broker’s duties to Buyer. (b) Other Buyers. Buyer understands
                that Broker may work with other prospective buyers who want to acquire the same property as
                Buyer. If Broker submits offers by competing buyers, Broker will notify Buyer that a competing offer
                has been made, but will not disclose any of the offer’s material terms or conditions. Buyer agrees
                that Broker may make competing buyers aware of the existence of any offer Buyer makes, so long as
                Broker does not reveal any material terms or conditions of the offer without Buyer’s prior written
                consent. (c) Fair Housing. Broker adheres to the principles expressed in the Fair Housing Act and will
                not participate in any act that unlawfully discriminates on the basis of race, color, religion, sex,
                handicap, familial status, country of national origin or any other category protected under federal,
                state or local law. (d) Service Providers. Broker does not warrant or guarantee products or services
                provided by any third party whom Broker, at Buyer’s request, refers or recommends to Buyer in
                connection with property acquisition.
            </li>
            <li class="mb-3">BUYER’S OBLIGATIONS: Buyer agrees to cooperate with Broker in accomplishing the objectives
                of
                this Agreement, including: (a) Conducting all negotiations and efforts to locate suitable property only

                through Broker and referring to Broker all inquiries of any kind from real estate licensees, property
                owners or any other source. If Buyer contacts or is contacted by a seller or a real estate licensee who
                is working with a seller or views a property unaccompanied by Broker, Buyer, will, at first
                opportunity, advise the seller or real estate licensee that Buyer is working with and represented
                exclusively by Broker. (b) Providing Broker with accurate personal and financial information
                requested by Broker in connection with ensuring Buyer’s ability to acquire property. Buyer
                authorizes Broker to run a credit check to verify Buyer’s credit information. (c) Being available to
                meet with Broker at reasonable times for consultations and to view properties. (d) Indemnifying and
                holding Broker harmless from and against all losses, damages, costs and expenses of any kind,
                including attorney’s fees, and from liability to any person, that Broker incurs because of acting on
                Buyer’s behalf. (e) Not asking or expecting to restrict the acquisition of a property according to race,
                color, religion, sex, handicap, familial status, country of national origin or any other category
                protected under federal, state or local law. (f) Consulting an appropriate professional for legal, tax,
                environmental, engineering, foreign reporting requirements and other specialized advice.
            </li>
            <li class="mb-3">RETAINER: Upon final execution of this Agreement, Buyer will pay to Broker a non-refundable
                retainer fee of $0 for Broker’s services (&quot;Retainer&quot;). This fee is not refundable and ᴑ will
                be
                credited
                to Buyer if compensation is earned by Broker as specified in this Agreement.
            </li>
            <li class="mb-3">COMPENSATION: Broker’s compensation is earned when, during the term of this Agreement or
                any renewal or extension, Buyer or any person acting for or on behalf of Buyer contracts to acquire
                real property as specified in this Agreement. Buyer will be responsible for paying Broker the amount
                specified below plus any applicable taxes but will be credited with any amount which Broker
                receives from a seller or a real estate licensee who is working with a seller. (a) Purchase or exchange:
                6% plus $495 of the total purchase price or other consideration for the acquired property, to be paid
                at closing. (b) Lease: 5 % plus $ 495 of the gross lease value, to be paid when Buyer enters into the
                lease. If Buyer enters into a leasepurchase agreement, the amount of the leasing fee which Broker
                receives will be credited toward the amount due Broker for the purchase. (c) Option: Broker will be
                paid 6 % of the option amount, to be paid when Buyer enters into the option agreement. If Buyer
                enters into a lease with option to purchase, Broker will be compensated for both the lease and the
                option. If Buyer subsequently exercises the option, the amounts received by Broker for the lease and
                option will be credited toward the amount due Broker for the purchase. (d) Other: Broker will be
                compensated for all other types of acquisitions as if such acquisition were a purchase or exchange.
                (e) Buyer Default: Buyer will pay Broker’s compensation immediately upon Buyer’s default on any
                contract to acquire property.
            </li>
            <li class="mb-3">PROTECTION PERIOD: Buyer will pay Broker’s compensation if, within 365 days after
                Termination
                Date, Buyer contracts to acquire any property which was called to Buyer’s attention by Broker or any
                other person or found by Buyer during the term of this Agreement. Buyer’s obligation to pay
                Broker’s fee ceases upon Buyer entering into a good faith exclusive buyer brokerage agreement with
                another broker after Termination Date.
            </li>
            <li class="mb-3">EARLY TERMINATION: Buyer may terminate this Agreement at any time by written notice to
                Broker but will remain responsible for paying Broker’s compensation if, from the early termination
                date to Termination Date plus Protection Period, if applicable, Buyer contracts to acquire any
                property which, prior to the early termination date, was found by Buyer or called to Buyer’s

                attention by Broker or any other person. Broker may terminate this Agreement at any time by
                written notice to Buyer, in which event Buyer will be released from all further obligations under this
                Agreement.
            </li>
            <li class="mb-3">DISPUTE RESOLUTION: Any unresolvable dispute between Buyer and Broker will be mediated. If
                a settlement is not reached in mediation, the matter will be submitted to binding arbitration in
                accordance with the rules of the American Arbitration Association or other mutually agreeable
                arbitrator.
            </li>
            <li class="mb-3">ASSIGNMENT; PERSONS BOUND: Broker may assign thisAgreement to another broker. This
                Agreement will bind and inure to Broker’s and Buyer’s heirs, personal representatives, successors
                and assigns.
            </li>
            <li class="mb-3">BROKERAGE RELATIONSHIP: Broker will act as a transaction broker. Broker will deal honestly
                and
                fairly; will account for all funds; will use skill, care, and diligence in the transaction; will
                disclose
                all
                known facts that materially affect the value of the residential property which are not readily
                observable to buyer; will present all offers and counteroffers in a timely manner unless directed
                otherwise in writing; and will have limited confidentiality with Buyer unless waived in writing.
            </li>
            <li class="mb-3">ACKNOWLEDGMENT; MODIFICATIONS: Buyer has read this Agreement and understands its
                contents. This Agreement cannot be changed except by written agreement signed by both parties.
            </li>
        </ol>
    </section>
{% endblock %}