{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Casa Bella Tower{% endblock %}
{% block content %}

<section class="container">
    <div class="row align-items-center">
            <div class="col-lg-12 mt-5 text-center">
                <h1 class="display-2 mb-3 fw-bolder">403</h1>
                <p class="fs-4">Temporary repair works on the web-server. We apologize for the inconvenience</p>
                <a href="{% url 'index' %}" class="fs-5 my-but text-uppercase">GO HOME</a>
            </div>
    </div>
</section>

{% endblock %}